[submodule ".forestry/front_matter"]
	path = .forestry/front_matter
	url = https://github.com/ericselin/temp-forestry-conf.git
[submodule "content/temp-forestry-conf"]
	path = content/temp-forestry-conf
	url = https://github.com/ericselin/temp-forestry-conf.git
